---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
      <p>
        Hi, I'm Tanmay, a full-stack software engineer based in Florida with 3+ years of experience building scalable web applications and robust backend systems.
        <br />
        My core technologies include:
      </p>
      <ul class="list-disc list-inside">
        <li>JavaScript / TypeScript</li>
        <li>React, Next.js & React Native</li>
        <li>Node.js & Express.js</li>
        <li>PostgreSQL & MongoDB</li>
        <li>AWS, GCP, Azure</li>
        <li>Python, Java, Go</li>
      </ul>
    </div>
    <p class="text-sm font-light">
      I enjoy solving performance bottlenecks, optimizing backend pipelines, and deploying full-stack systems in the cloud. Whether it’s building dashboards, securing auth flows, or scaling APIs, I thrive on crafting maintainable solutions.
    </p>
    <p class="text-sm font-light">
      Outside of tech, I love exploring system design patterns, occasionally diving into OpenAI APIs for fun projects, and I’m always down for a travel adventure.
    </p>
  </div>
</Card>
