---
import Card from "./Card/index.astro";
import Pulse from "./Pulse.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-2">
  <div class="flex justify-between w-full items-start mb-2">
    <div class="flex flex-col">
      <h2>Now</h2>
    </div>
    <Pulse />
  </div>
  <p class="text-xs mb-2">
    Graduated from the University of Florida and currently seeking full-time software engineering opportunities.
  </p>
  <ul class="text-xs list-disc list-inside space-y-1">
    <li>
      <a href="/Tanmay_Resume.pdf" download class="underline hover:text-blue-600">
        Download my resume (PDF)
      </a>
    </li>
    <!-- <li>
      <a href="https://awsenigma.github.io" target="_blank" class="underline hover:text-blue-600">
        Visit my portfolio website
      </a>
    </li> -->
  </ul>
</Card>
